<!--index.html-->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style2.css">
    <title>課題5から8</title>
</head>

<body>
    <h1>Hello 課題5から8</h1>
    <a href="/routing">Let's go to routing.html</a>
    <h1>GETでform送信</h1>
    <form action="/get" method="get">
        <input type="text" name="data"></input>
        <button type="submit">送信</button>
    </form>

    <h1>POSTでform送信</h1>
    <form action="/post" method="post">
        <input type="text" name="data"></input>
        <button type="submit">送信</button>
    </form>
    <!-- <script src="/static/js/style.js"></script> -->
</body>

</html>