<!--index.html-->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>課題1から4</title>
</head>

<body>
    <div class="box1">
        <h1>Hello 課題1から4</h1>
        <p class="hello">Blue Color</p>
        <p>Hello,world!</p>
        <ul>
            {% for x in list %}
            <!--リスト表示-->
            <li>{{x}}</li>
            {% endfor %}
        </ul>
        <p>
        <div class="dict1">
            {% for x,y in dict.items() %}
            {{x}}は{{y}}<br>
            {% endfor %}
        </div>
        <hr>
        {%if flag%} 
        <p>Trueです!</p>
        {% else %}
        <p>Falseです!</p>
        {% endif %}
    </div>
</body>

</html>